body {
   background-color: #e3e3e3; 
   font-family: helvetica;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 5px;
    border: 0px;
    height: 2vh;
    border: dotted 1px;
    border-radius: 10px;
    background-color: #bbbbbb;
}